services:
    mongodb:
        image: mongodb/mongodb-community-server:latest
        container_name: mongodb
        ports:
            - "27017:27017"
        volumes:
            - mongodb:/data/db
        environment:
            MONGODB_INITDB_ROOT_USERNAME: mongodb
            MONGODB_INITDB_ROOT_PASSWORD: pippo123

volumes:
    mongodb:
        external: true
