services:
    mongodb:
        image: mongodb/mongodb-community-server:latest
        container_name: mongodb
        ports:
            - "27017:27017"
        volumes:
            - mongodb:/data/db
        environment:
            MONGO_INITDB_ROOT_USERNAME: mongodb
            MONGO_INITDB_ROOT_PASSWORD: pippo123
