name: Build and Push Docker Images

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: self-hosted
    strategy:
      matrix:
        service: [auth-service, warehouse-service, order-service, office-service, api-gateway, frontend]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        if: ${{ matrix.service != 'frontend' }}
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven

      - name: Install Common Library
        if: ${{ matrix.service != 'frontend' }}
        run: mvn clean install -DskipTests -f common-library/pom.xml

      - name: Build JAR with Maven
        if: ${{ matrix.service != 'frontend' }}
        run: mvn clean package -DskipTests -f ${{ matrix.service }}/pom.xml

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push Docker image
        uses: docker/build-push-action@v5
        with:
          context: ./${{ matrix.service }}
          push: true
          tags: |
            pietromarigo/${{ matrix.service }}:latest
            pietromarigo/${{ matrix.service }}:1
env:
    DOCKER_HOST: unix:///run/user/1000/docker.sock
